.Dashboard {
    background-color: #F8F9FA;
}

.Header {
    display: flex;
    flex: 1;
    width: 100%;
    height: 250px;
    background-color: #2E4372;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.Header-Filter {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-right: 70px;
    padding-top: 20px;
}

.Filter-Button {
    background-color: #2E4372;
    border: 0;
}

.Filter {
    color: #F8F9FA;
}

.Header-Field {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.Header-Title-Amount {
    font-family: 'Montserrat';
    font-size: 70px;
    color: #F8F9FA;
    font-weight: 800;
    line-height: 32px;
    margin: 0;
    padding-bottom: 5px;
    padding-top: 40px;
}

.Header-Text {
    margin: 5px;
    font-family: 'Montserrat';
    font-size: 20px;
    color: #F8F9FA;
    font-weight: 800;
    line-height: 32px;
    text-align: right;
}

.Header-Text-Period {
    padding-top: 30px;
    padding-bottom: 20px;
    font-family: 'Montserrat';
    font-size: 18px;
    color: #F8F9FA;
    font-weight: 400;
    text-align: right;
}

.Warning {
    background-color: #EBECEB;
    padding: 15px;
}

.Body {
    padding: 20px;
}

.Content-Text {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat';
    font-size: 14px;
    color: #3F3F3F;
    font-weight: 400;
}

.Content-Title {
    margin: 0px;
    padding: 10px;
    font-family: 'Montserrat';
    font-size: 20px;
    color: #3F3F3F;
    font-weight: 600;
}

.Credit-Cards {
    display: flex;
    height: 180px;
    background-color: #EBECEB;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
}

.Extract {
    display: flex;
    height: 250px;
    background-color: #EBECEB;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
}

.Credit-Card-Amount {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
}

.Credit-Card-Name {
    margin: 0px;
    font-family: 'Montserrat';
    font-size: 16px;
    color: #3F3F3F;
    font-weight: 600;
}

.Credit-Card-Legend {
    margin: 0px;
    font-family: 'Montserrat';
    font-size: 14px;
    color: #3F3F3F;
    font-weight: 300;
    padding-right: 10px;
}

.Credit-Card-Point {
    margin: 0px;
    font-family: 'Montserrat';
    font-size: 20px;
    color: #2E4372;
    font-weight: 800;
}

.Extract-Date {
    margin: 0px;
    padding: 10px;
    font-family: 'Montserrat';
    font-size: 16px;
    color: #3F3F3F;
    font-weight: 800;
}

.Extract-Point {
    margin: 0px;
    font-family: 'Montserrat';
    font-size: 16px;
    color: #3F3F3F;
    font-weight: 800;
    text-align: right;
    padding-right: 10px;
}

.Modal {
    position: absolute;
    top: 35%;
    left: 30px;
    right: 30px;
    bottom: 35%;
    background-color: #F8F9FA;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(235, 236, 235, 0.8);
}

.Cancel-Button {
    width: 150px;
    height: 40px;
    font-family: 'Montserrat';
    font-size: 16px;
    color: #3F3F3F;
    font-weight: 800;
    background-color: #EBECEB;
    border-color: #EBECEB;
    border-style: none;
    margin: 5px;
}

.Confirm-Button {
    width: 150px;
    height: 40px;
    font-family: 'Montserrat';
    font-size: 16px;
    color: #F8F9FA;
    font-weight: 800;
    background-color: #2E4372;
    border-color: #2E4372;
    border-style: none;
    margin: 5px;
}

.Filter-Period {
    display: 'flex';
    flex-direction: 'row';
    align-items: 'center';
    justify-content: 'space-between'
}

.Date-Picker {
    height: 40px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 16px;
    color: #3F3F3F;
    font-weight: 800;
    background-color: #EBECEB;
    border-color: #EBECEB;
    border-style: none;
}

.Filter-Period-Legend {
    font-family: 'Montserrat';
    font-size: 16px;
    color: #3F3F3F;
    font-weight: 300;
    margin: 20px;
}